html{
    --active-blue: #4885EB;
    --basic-white: #ffffff;
    --main-black: #575757;
    --back-blue: #789EDE;
}

body{
    /* Общие настройки */
    font-size: 18px;
    color: #000;
    font-family: 'Inter',sans-serif;
    background-color: #F8F8F8;;
    padding: 0;
    margin: 0;
}

.conteiner-label{
    /* Первый контейнер в шапке */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.conteiner-label2{
    /* Второй контейнер в шапке */
    padding-top: 40px;
    display: flex;
    padding-bottom: 20px;
}

.header{
    /* Настройки  */
    background-color: #fff;
}

.box{
    /* Все настройки бокса в хеддере */
    margin: 0 auto;
    padding-top: 60px;
    width: 1044px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.blue{
    color: var(--active-blue);
}

.button{
    /* Настройки кнопки */
    color: var(--active-blue);
    background: #fff;
    border: 1px var(--active-blue) solid ;
    padding: 10px;
    font-family: 'JetBrains Mono',sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
}

.button2{
    /* Настройки кнопки */
    color: #fff;
    background: var(--active-blue);
    border: 1px var(--active-blue) solid ;
    padding: 10px;
    font-family: 'JetBrains Mono',sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
}

.button:hover{
    color: var(--basic-white);
    background: var(--active-blue);
}


.num{
    /* Настройки блока текста в 1 контейнере */
    font-size: 16px;
    color: var(--main-black);
}

.text{
    padding-left: 15px;
    padding-right: 40px;
}


header a, li{
    color: #575757;
    list-style-type: none;
    text-decoration: none;
}

.ui-head{
    display: flex;
    padding-inline-start: 0px;
    margin: 0;
}

.ui-head-li{
    margin-right: 50.83px;
}

.ui-head-li:last-child{
    margin-right: 0px;
}

.rect{
    /* Настройки стрелочки на кнопке "Наши продукты" */
    margin-left: 10px;
}

.banner{
    margin: 0 auto;
    padding-top: 100px;
    width: 1060px;
    height: 529px;
    display: flex;

}

.header-text{
    margin: 0px;
    font-size: 50px;
    font-family: 'JetBrains Mono',sans-serif;
    color: #575757;
}

.container-banner2{
    padding-top: 12px;
    width: 430px;
    height: 517px;
    margin-left: auto;
}

.aa{
    margin-top: 30px;
}

.aa :first-child{
    margin-right: 0ps;
}

.but{
    margin-top: 45px;
}

.active{
    color: #789EDE;
}

a:not(.active):hover{
    color: #1C71FF ;
}


/* ниже работа с разделом работа */

.banner-work{
    /* Настройка площади  */
    margin: 0 auto;
    padding-top: 100px;
    width: 1060px;
   
}

.header-work{
    /* заголовок в баннере */
    margin: 0;
    font-family: "JetBrains Mono", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.04em;
    color: #575757;
}

.Box-work{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}

.podBox-work{
    /* боксы с темой */
    width: 250px;
    height: 366px;
    border-style: solid;
    border-color: #B7B7B7;
    border-radius: 6px;
}

.work-pic{
    /* настрокий картинки */
    padding-left: 15px;
    padding-top: 15px;
}

.blok-text{
    /* настройки блока текста */
    width: 219px;
    height: 193px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.contents-text{
    /* настройки заголовка */
   margin-top: 20px;
   margin-bottom: 20px;
   font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.04em;
    color: #575757;
}

.text-work{
    /* настройки сожержания */
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #575757;
}

.button-work{
    /* настройки кнопки */
    color: var(--active-blue);
    background: #fff;
    border: 1px var(--active-blue) solid ;
    padding: 10px;
    font-family: 'JetBrains Mono',sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 25px;
}


/* Ниже работа с разделом новости */

.news{
    /* настройки площади */
    margin-top: 100px;
    background-color: var(--back-blue);
    height: 683px;
}

.banner-news{
    /* настройки контейнека */
   width: 1060px; 
   margin: 0 auto;
   padding-top: 50px;
}

.text-news{
    /* настройки оглавления */
    color: #fff;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.04em;
    margin: 0px;
}

.basics{
    /* настройки блока */
    display: flex;
    margin-top: 50px;
    width: 610px;
    height: 500px;
    background-color: #fff;
    border-radius: 9px;
    flex-direction: column;
    flex-wrap: wrap;
}

.basics-text{
    /* настройки текста в блоке */
    margin-top: 20px;
    margin-left: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #3D3D3D;
    margin-bottom: 0px;
}

.image-news{
    /* настройки главной картинки */
    position: relative;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.04em;
}
.text-image1 {
    /* настройки текста на катринке */
    position: absolute;
    bottom: 10px;
    left: 40px;
    color: #fff;
}

.image-tab{
    /* настройка второстепенных картинок */
    border-radius: 8px;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.image-tab:last-child{
    margin-bottom: 0px;
}

.button-news{
    /* настройки кнопки */
    color: var(--active-blue);
    background: #fff;
    border: 1px var(--active-blue) solid ;
    text-align: center;
    padding: 10px;
    font-family: 'JetBrains Mono',sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 24px;
    margin-left: 40px;
    line-break: 40px;
    margin-right: 351px
  
}






.map{
    height: 854px;
}



footer{
    height: 231px;
    background-color: var(--back-blue);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center
}

.conteiner-footer{
    width: 1060px;
    height: 131px;
    display: flex;
    justify-content: space-between;
}

.text-footer-log{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.text-footer-a{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-a{
    padding-bottom: 10px;
    padding-right: 50px;
}

.qq{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
}

.button-footer{
    color: #fff;
    background: var(--back-blue);
    border: 1px #fff solid ;
    text-align: center;
    padding: 10px;
    font-family: 'JetBrains Mono',sans-serif;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    margin-top: 10px;
    line-break: 40px;
    line-height: 21px;
}

.icon{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.text-icon{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin: 0px;
    margin-bottom: 20px;
}

.image-footer{
    padding-right: 15px ;
}


