html{
    --active-blue: #4885EB;
    --basic-white: #ffffff;
    --main-black: #575757;
    --back-blue: #789EDE;
}

body{
    /* Общие настройки */
    font-size: 18px;
    color: #000;
    font-family: 'Inter',sans-serif;
    background-color: white;
    padding: 0;
    margin: 0;
    line-height: 27px;
    letter-spacing: 0.05em;
}

.conteiner-label{
    /* Первый контейнер в шапке */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header{
    /* Настройки  */
    background-color: #fff;
    box-shadow: 16px 17px 40px rgba(0, 0, 0, 0.05);
}

.box{
    /* Все настройки бокса в хеддере */
    margin: 0 auto;
    padding-top: 60px;
    width: 1044px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.blue{
    color: var(--active-blue);
}

.button-style{
    /* Настройки кнопки */
    
    padding: 10px;
    font-family: 'JetBrains Mono',sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none
}

.buttom-header{
    color: var(--active-blue);
    background-color: transparent;
    border: 1px var(--active-blue) solid ;
    gap: 10px;
}

.button-nav{
    color: #fff;
    background: var(--active-blue);
    border: 1px var(--active-blue) solid;
    gap: 15px;
    width: 280px;
    margin-top: 45px;
}


.buttom-header:hover{
    color: #fff;
    background: var(--active-blue);

}

.button-nav:hover{
    color: #fff;
    background: rgba(28, 113, 255, 1);
}


.num{
    /* Настройки блока текста в 1 контейнере */
    font-size: 16px;
    color: var(--main-black);
}

.text{
    padding-left: 15px;
    padding-right: 40px;
}


header a, li{
    color: #575757;
    list-style-type: none;
    text-decoration: none;
    gap: 10px;
    display: flex;
    align-items: center;
}

.ui-head{
    display: flex;
    padding-inline-start: 0px;
    margin: 0;
    justify-content: space-between
}

.ui-head-li{
    padding-top: 40px;
    padding-bottom: 22px;
}

.ui-head-li:last-child{
    margin-right: 0px;
}


.banner{
    margin: 0 auto;
    padding-top: 100px;
    width: 1060px;
    height: 529px;
    display: flex;

}

.header-text{
    margin: 0px;
    font-size: 50px;
    font-family: 'JetBrains Mono',sans-serif;
    color: #575757;
    font-weight: 800;
    letter-spacing: 0.05em;
}

.container-banner2{
    padding-top: 12px;
    width: 430px;
    height: 517px;
    margin-left: auto;
}

.aa{
    margin-top: 40px;
}

.aa :first-child{
    margin-right: 0ps;
}

.text-nav{
    display: flex;
    align-items: center;
    gap: 15px
}

.but{
    margin-top: 45px;
}

.active{
    color: #789EDE;
}

.ui-head a:not(.active):hover{
     color: #1C71FF ; 
} 



/* ниже работа с разделом работа */

.banner-work{
    /* Настройка площади  */
    margin: 0 auto;
    padding-top: 100px;
    width: 1060px;
}

.header-work{
    /* заголовок в баннере */
    margin: 0;
    font-family: "JetBrains Mono", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.04em;
    color: #575757;
}

.Box-work{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}

.podBox-work{
    /* боксы с темой */
    width: 250px;
    height: 366px;
    border-radius: 6px;
    border: 2px solid rgba(183, 183, 183, 1);
    letter-spacing: 0;
}

.work-pic{
    /* настрокий картинки */
    padding-left: 15px;
    padding-top: 15px;
}

.blok-text{
    /* настройки блока текста */
    width: 219px;
    height: 193px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.contents-text{
    /* настройки заголовка */
   margin-top: 20px;
   margin-bottom: 20px;
   font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.04em;
    color: #575757;
}

.text-work{
    /* настройки сожержания */
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #575757;
}

.button-work{
    /* настройки кнопки */
    color: var(--active-blue);
    background: #fff;
    border: 1px var(--active-blue) solid ;
    margin-top: 20px;
    margin-bottom: 25px;
    cursor: pointer;
}

.button-work:hover{
    color: #FFFFFF;
    background-color:rgba(28, 113, 255, 1) ;
}


/* Ниже работа с разделом новости */

.news{
    /* настройки площади */
    margin-top: 100px;
    background-color: var(--back-blue);
    height: 683px;
}

.banner-news{
    /* настройки контейнека */
   width: 1060px; 
   margin: 0 auto;
   padding-top: 50px;
}

.text-news{
    /* настройки оглавления */
    color: #fff;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.04em;
    margin: 0px;
}

.basics{
    /* настройки блока */
    display: flex;
    margin-top: 50px;
    width: 610px;
    height: 500px;
    background-color: #fff;
    border-radius: 9px;
    flex-direction: column;
    flex-wrap: wrap;
}

.basics-text{
    /* настройки текста в блоке */
    margin-top: 20px;
    margin-left: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #3D3D3D;
    margin-bottom: 0px;
}

.image-news{
    /* настройки главной картинки */
    position: relative;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.04em;
}
.text-image1 {
    /* настройки текста на катринке */
    position: absolute;
    bottom: 10px;
    left: 40px;
    color: #fff;
}

.image-tab{
    /* настройка второстепенных картинок */
    border-radius: 8px;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.image-tab:last-child{
    margin-bottom: 0px;
}




.button-news{
    /* настройки кнопки */
    color: var(--active-blue);
    background: #fff;
    border: 1px var(--active-blue) solid ;
    text-align: center;
    margin-top: 24px;
    margin-left: 40px;
    line-break: 40px;
    cursor: pointer;
    margin-right: 351px
}

.button-news:hover{
    background-color: rgba(28, 113, 255, 1);
    color: #fff;
}


.my-image{
    display: flex;
    align-items: flex-end;

    width: 395px;
    height: 150px;
    border-radius: 8px;
    color: white;

    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-decoration: none;

    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.04em;
    justify-content: space-between;
}


.block2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}

.image2{
    background-image: url(../image/2.png);
}

.image3{
    background-image: url(../image/3.png);
}

.image4{
    background-image: url(../image/4.png);
}




.map{
    height: 854px;
}



footer{
    height: 231px;
    background-color: var(--back-blue);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center
}

.conteiner-footer{
    width: 1060px;
    height: 131px;
    display: flex;
    justify-content: space-between;
}

.text-footer-log{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.text-footer-a{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-a{
    padding-bottom: 10px;
    padding-right: 50px;
}

.qq{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
}

.qq a:not(.active):hover{
    color: #1C71FF ; 
}


.button-footer{
    color: #fff;
    background: var(--back-blue);
    border: 1px #fff solid ;
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
    line-break: 40px;
    line-height: 21px;
    cursor: pointer;
}

.button-footer:hover{
    background-color: #FFFFFF;
    color: rgba(28, 113, 255, 1);
}

.icon{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.text-icon{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin: 0px;
    margin-bottom: 20px;
}

.image-footer{
    padding-right: 15px ;
}


